/* defaults */
@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueLTStd-BoldExtended.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* navbar */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.2rem;
}

.hamburger * {
  border: 2px solid black;
  width: 3rem;
}

.logo-img {
  width: 20%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Helvetica Neue", sans-serif;
}

.min-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-brand {
  display: flex;
}

.min-menu2 {
  .und {
    text-decoration: underline;
  }
  display: flex;
  gap: 3rem;
  align-items: center;
}

.request-btn {
  color: #f2fcff;
  background-color: #262626;
  box-shadow: none;
  border: 2px solid #262626;
  border-radius: 16px;
  padding: 1rem 1.5rem;
  box-shadow: none;
}
