/* defaults */
@font-face {
  font-family: "Helveticas";
  src: url("./assets/fonts/Helvetica_Neue.otf")
    format("opentype");
}

body {
  font-family: "Helveticas", sans-serif;
}

:root {
  --font-family: "Helveticas";
}

/* navbar */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.2rem;
}

.hamburger * {
  border: 2px solid black;
  width: 3rem;
}

.logo-img {
  width: 20%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  font-size: 0.9rem;
}

.min-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-brand {
  display: flex;
}

.min-menu2 {
  .und {
    text-decoration: underline;
  }
  display: flex;
  gap: 3rem;
  align-items: center;
}

.request-btn {
  display: flex;
  gap: 1rem;
  color: #f2fcff;
  background-color: #262626;
  box-shadow: none;
  border: 2px solid #262626;
  border-radius: 1.5rem;
  padding: 1.2rem 1.8rem;
  box-shadow: none;
  font-family:"Helveticas", sans-serif;
}

/* main-body */
.main-body {
  display: flex;
  border: 2px solid red;
}

.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-body {
  padding: 0 2rem;
}