/* defaults */
@import url("./animation_keys.css");
@font-face {
  font-family: "Helveticas";
  src: url("../assets/fonts/Helvetica_Neue.otf") format("opentype");
}

@font-face {
  font-family: "Helveticas-light";
  src: url("../assets/fonts/Helvetica_Neue_43_Light.otf") format("opentype");
}

:root {
  --bold-font-family: "Helveticas";
  --light-font: Helveticas-light;
  --white-btn: rgb(255, 255, 255);
  --btn-text-color: #1b1b1b;
  --body-bg: rgba(239, 239, 239, 255);
  --inactive-text: rgba(206,206,206,255);
}

body {
  font-family: "Helveticas", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-bg);
  height: 100vh;
}

/* navbar */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.2rem;
}

.hamburger * {
  border: 2px solid var(--btn-text-color);
  width: 3rem;
}

.logo-img {
  width: 20%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  font-family: var(--light-font);
  font-weight: 700;
  color: var(--btn-text-color);
}

.min-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-brand {
  display: flex;
}

.min-menu2 {
  .und {
    text-decoration: underline;
  }
  display: flex;
  gap: 3rem;
  align-items: center;
}

.request-btn {
  display: flex;
  gap: 1rem;
  color: #f2fcff;
  background-color: var(--btn-text-color);
  box-shadow: none;
  border: 2px solid var(--btn-text-color);
  border-radius: 1.5rem;
  padding: 1.2rem 1.8rem;
  box-shadow: none;
  font-family: "Helveticas", sans-serif;
}

/* main-body */
.main-body {
  display: flex;
  color: var(--btn-text-color);
  padding: 1rem 2rem;
  height: 100vh;
  
}

.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-text {
  font-size: 4rem;
  color: var(--btn-text-color);
}

.ai-image {
  width: 70vh;
}

.left-menu {
  display: flex;
}

.side-menu > * {
  display: flex;
  flex-direction: column;
}

.side-menu {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
}

.translate {
  transform: rotate(90deg);
  white-space: nowrap;
  /* letter-spacing: 0.1cm; */
  font-size: 0.8rem;

}

.pages {
  gap: 1.5rem;
  justify-content: space-between;
}

.pages span {
  color: var(--inactive-text);
}

.pages span:first-child {
  color: var(--btn-text-color);
 

}

.get-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--light-font);
  padding: 2rem 3rem;
  border-radius: 2rem;
  font-family: var(--light-font);
  font-weight: 600;
  color: var(--btn-text-color);
  font-size: 0.8rem;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btns > * {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.next-btn {
  border: 1px solid var(--btn-text-color);
  color: var(--white-btn);
  background-color: var(--btn-text-color);
  padding: 1.7rem 2rem;
  border-radius: 100%;
  font-size: 1rem;
}

.socials {
  display: flex;
  gap: 3rem;
}

.socials a {
  text-decoration: none;
  font-family: var(--light-font);
  font-weight: 500;
  color: var(--btn-text-color);
}


.sub-men {
  font-family: var(--light-font);
  font-size: 2 rem;
}

.nav-dt {
  background-color: var(--white-btn);
  color: var(--btn-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.6rem 1.5rem;
  width: auto;
  height: auto;

  .first {
    transform: rotate(180deg);
    color: var(--body-bg);
    cursor: not-allowed;
  }

  a {
    margin: 0;
    padding: 0;
    font-size: 13rem;
  }
}

.nav-dt:hover {
  background-color: var(--btn-text-color);
  color: var(--white-btn);
}

.nav-dt a {
  font-size: 1.2rem;
}